/data/OffensEval2019/start-kit/
/data/OffensEval2019/Test_A_Release/
/data/OffensEval2019/Test_B_Release/
/data/OffensEval2019/Test_C_Release/
.DS_Store
.vscode/
*.pyc
*.pyo
__pycache__/
*.py[cod]
/venv/